body{    
    background-color: #EBF2F7;
}

.App{
    /* display: inline-flex; */
    margin: 1em;
}
@media screen and (max-width:730px){
    .App{
        /* display: inline-flex; */
        margin: 0;
    }
}
